<footer class="footer bg-light text-white mt-3 p-3">
  <div class="footer-primary">
           <div class="container">
          <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-3">
                  <div class="footer-widget-about">
                    <div style="display: flex;">
                      <img src="../../../assets/images/logoclinique.jpg" style="height: 50px;width: 50px;" alt="logo" class="mb-30">
                      <h2 style="color: blue;padding-top:5px ;"><b>Espoir </b></h2>
                    </div>
                      <p class="color-gray text-dark">Notre objectif est de fournir des soins de qualité de manière courtoise, respectueuse et compatissante. Nous espérons que vous nous permettrez de prendre soin de vous et de nous efforcer d'être les premiers et les meilleurs
                      choix pour vos soins de santé familiaux.</p>
                  </div>
                  <!-- /.footer-widget__content -->
              </div>
              <!-- /.col-xl-2 -->
              <div class="col-sm-6 col-md-6 col-lg-2 offset-lg-1">
                  <div class="footer-widget-nav">
                      <h6 class="footer-widget__title">Departments</h6>
                      <nav>
                          <ul class="list-unstyled ">
                            <li><a href="#" class="text-dark">Clinique de Pathologie</a></li>
                            <li><a href="#" class="text-dark">Clinique de Cardiologie</a></li>
                            <li><a href="#" class="text-dark">Clinique de neurologie</a></li>
                          </ul>
                      </nav>
                  </div>
                  <!-- /.footer-widget__content -->
              </div>
              <!-- /.col-lg-2 -->
              <div class="col-sm-6 col-md-6 col-lg-2">
                  <div class="footer-widget-nav">
                      <h6 class="footer-widget__title">Links</h6>
                      <nav>
                          <ul class="list-unstyled">
                              <li><a href="#" class="text-dark">À propos</a></li>
                              <li><a href="#" class="text-dark">Notre Clinique</a></li>
                              <li><a href="#" class="text-dark">Médecins</a></li>
                              <li><a href="#" class="text-dark">News & Media</a></li>
                              <li><a href="#reserver" class="text-dark">Appointments</a></li>
                          </ul>
                      </nav>
                  </div>
                  <!-- /.footer-widget__content -->
              </div>
              <!-- /.col-lg-2 -->
              <div class="col-sm-12 col-md-6 col-lg-4 bg-white rounded pt-2">
                  <div class="footer-widget-contact">
                      <h6 class="footer-widget__title color-heading text-info"><b>Contacts rapides</b></h6>
                      <ul class="contact-list list-unstyled text-dark">
                          <li>Si vous avez des questions ou besoin d'aide, n'hésitez pas à contacter notre équipe.</li>
                          <li>
                              <a href="tel:01061245741" class="phone__number text-primary">
                                  <i class="icon-phone"></i> <b><span>0536629878</span></b>
                              </a>
                          </li>
                          <li class="color-body">Rte Immouzer 17 - FES - MAROC</li>
                      </ul>
                      <div class="d-flex align-items-center">
                          <ul class="social-icons list-unstyled mb-0">
                            <a href="https://www.facebook.com/votrepage" target="_blank">
                              <img src="../../../../assets/images/2021_Facebook_icon.svg" alt="" style="height: 40px;width: 40px;">
                            </a>
                            <a href="https://www.instagram.com/votreprofil" target="_blank">
                              <img src="../../../../assets/images/instagram.png" alt=""style="height: 45px;width: 45px;">
                            </a>
                            <a href="https://twitter.com/yourusername" target="_blank">
                              <img src="../../../assets/images/twitter.png" alt=""style="height: 40px;width: 40px;">
                            </a>
                          </ul>
                          <!-- /.social-icons -->
                      </div>
                  </div>
                  <!-- /.footer-widget__content -->
              </div>
              <!-- /.col-lg-2 -->
          </div>
          <!-- /.row -->
      </div>
      <!-- /.container -->
  </div>
  <!-- /.footer-primary -->
  <div class="footer-secondary">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-sm-12 col-md-6 col-lg-6">
                  <span class="fz-14 text-info">&copy; Copyright © 2022 Clinique AL KAWTAR- Tous droits réservés</span>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-sm-12 col-md-6 col-lg-6">
                  <nav>
                      <ul class="list-unstyled footer__copyright-links d-flex flex-wrap justify-content-end mb-0">
                          <li><a href="#">Terms & Conditions</a></li>
                          <li><a href="#">Privacy Policy</a></li>
                          <li><a href="#">Cookies</a></li>
                      </ul>
                  </nav>
              </div>
              <!-- /.col-lg-6 -->
          </div>
          <!-- /.row -->
      </div>
      <!-- /.container -->
  </div>
  <!-- /.footer-secondary -->
</footer>
