
<div class="responsive-container-block big-container ">
  <div class="responsive-container-block container">
    <div class="responsive-container-block">
      <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-6 wk-ipadp-12 img-one mt-5">
        <img alt="golden-lines.png" class="image-block bg-image" src="../../../../assets/images/logoclinique.jpg" style="height: 700px;width: 500px;">
      </div>
      <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-6 wk-ipadp-12 content-one">
        <p class="text-blk section-head">
          A propos de nous
        </p>
        <p class="text-blk section-text ml-2" style="text-align: left;">
          La Clinique Taoufik Tunisie, pionnière en Afrique depuis 1979 en Chirurgie cardiaque, Cardiologie Interventionnelle,, Radiothérapie et en Chimiothérapie, se positionne aujourd’hui au niveau du dépistage et du diagnostic précoce par la mise en place d’un Centre de Check-up multidisciplinaire en hospitalisation de jour. Par ailleurs, La Clinique Taoufik investit dans les nouvelles technologies par l’acquisition de lasers pulsé et continu, utilisés dans le traitement de plusieurs pathologies telles que les calculs de l’arbre urinaire et l’hypertrophie bénigne de la prostate

Située à 20 minutes du centre-ville et 10 minutes de l’aéroport international de Tunis-Carthage.
        </p>
      </div>
    </div>
  </div>
</div>

