
<div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel" data-interval="5000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/images/3.jpg" style="height: 650px;" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="slide__title text-primary " style="opacity: 1;">Votre Santé, C'est Notre Mission</h2>
        <p class="slide__desc " style="opacity: 1;color: #000;">Notre plus grande satisfaction est de voir nos patients heureux et satisfaits de leurs traitements. Notre mission est de vous conseiller au mieux et d’améliorer votre bien-être.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/image1.jpg" style="height: 650px;" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="slide__title text-primary" style="opacity: 1;">Tou Les Aspects De La Pratique Médicale</h2>
        <p class="slide__desc" style="opacity: 1;color: #000;">La santé est le bien ètre de nos patients et de leur équipe soignante seront toujours notre priorité, nous suivons donc les meilleurs pratiques de propreté</p>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<section class="contact-info py-0">
  <div class="container">
      <div class="row row-no-gutter boxes-wrapper">
          <div class="col-sm-12 col-md-4">
              <div class="contact-box d-flex">
                  <div class="contact__icon">
                      <i class="icon-call3"></i>
                  </div>
                  <!-- /.contact__icon -->
                  <div class="contact__content">
                      <h2 class="contact__title">Cas d'urgence</h2>
                      <p class="contact__desc">N'hésitez pas à contacter notre personnel de réception pour toute demande médicale ou technique.</p>
                      <a href="tel:+201061245741" class="phone__number">
                          <i class="icon-phone"></i> <span>0536629878</span>
                      </a>
                  </div>
                  <!-- /.contact__content -->
              </div>
              <!-- /.contact-box -->
          </div>
          <!-- /.col-md-4 -->
          <div class="col-sm-12 col-md-4">
              <div class="contact-box d-flex">
                  <div class="contact__icon">
                      <i class="icon-health-report"></i>
                  </div>
                  <!-- /.contact__icon -->
                  <div class="contact__content">
                      <h2 class="contact__title">Horaires des médecins</h2>
                      <p class="contact__desc">Nos médecins qualifiés sont disponibles six jours sur sept, consultez notre horaire pour prendre rendez-vous.</p>
                      <a href="doctors-timetable.html" class="btn btn__white btn__outlined btn__rounded">
                          <span>Calendrier</span><i class="icon-arrow-right"></i>
                      </a>
                  </div>
                  <!-- /.contact__content -->
              </div>
              <!-- /.contact-box -->
          </div>
          <!-- /.col-md-4 -->
          <div class="col-sm-12 col-md-4">
              <div class="contact-box d-flex">
                  <div class="contact__icon">
                      <i class="icon-heart2"></i>
                  </div>
                  <!-- /.contact__icon -->
                  <div class="contact__content">
                      <h2 class="contact__title">Horaires de travail</h2>
                      <ul class="time__list list-unstyled mb-0">
                          <li><span>Lundi - Vendredi</span><span>8.00 - 7:00 pm</span></li>
                          <li><span>Samedi</span><span>9.00 - 10:00 pm</span></li>
                          <li><span>Dimanche</span><span>10.00 - 12:00 pm</span></li>
                      </ul>
                  </div>
                  <!-- /.contact__content -->
              </div>
              <!-- /.contact-box -->
          </div>
          <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->
  </div>
  <!-- /.container -->
<div class="bg-light">
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-5 mr-3 ml-3 ">
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/images/microscope.png" alt="" style="height: 60px;width: 60px; margin-top: 10px;margin-left: 15px;" >
        <div class="card-body">
          <h4 class="">Clinique de pathologie</h4>
          <p class="">La pathologie est l'étude de la maladie, elle est le pont entre la science et Médicament. Elle sous-tend également tous les aspects des soins aux patients, depuis les tests de diagnostic jusqu'au traitement.
          </p>
          <ul class="">
            <li>Pathologie chirurgicale</li>
            <li>Histopathologie</li>
            <li> Cytopathologie </li>
          </ul>
          <a href="services-single.html" class="btn btn__secondary btn__outlined btn__rounded">
            <span>Lire la suite</span>
          <i class="icon-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/images/heart-attack.png" alt="" style="height: 60px;width: 60px; margin-top: 10px;margin-left: 15px;" >
        <div class="card-body">
          <h4 class="service__title"> Clinique de cardiologie</h4>
          <p class="">La pathologie est l'étude de la maladie, elle est le pont entre la science et Médicament. Elle sous-tend également tous les aspects des soins aux patients, depuis les tests de diagnostic jusqu'au traitement.
          </p>
          <ul class="">
            <li>Soins neurocritiques</li>
            <li>Neuro-oncologie</li>
            <li> Neurologie gériatrique </li>
          </ul>
          <a href="services-single.html" class="btn btn__secondary btn__outlined btn__rounded">
            <span>Lire la suite</span>
          <i class="icon-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/images/brain.png" alt="" style="height: 60px;width: 60px; margin-top: 10px;margin-left: 15px;" >
        <div class="card-body ">
          <h4 class="service__title"> Clinique de neurologie</h4>
          <p class="">Certains neurologues reçoivent une formation surspécialisée axée sur un domaine particulier de les domaines, ces programmes de formation sont appelés bourses, et sont d'un à deux ans.
          </p>
          <ul class="">
            <li>Soins neurocritiques</li>
            <li>Neuro-oncologie</li>
            <li> Neurologie gériatrique </li>
          </ul>
          <a href="services-single.html" class="btn btn__secondary btn__outlined btn__rounded">
            <span>Lire la suite</span>
          <i class="icon-arrow-right"></i>
          </a>
      </div>
    </div>
  </div>

</div>


